*.o
*.dat
*.log
*.pyc
*.conf
.Rhistory
__pycache__/
.#*
*.o27*
doc/auto
auto
*.aux
*.synctex.gz
*.rtf
paper.pdf
*.fdb_latexmk
*.fls
*.prv
_region_.tex
unused/*
*.swp
cache/
*.o28*
*.e28*
*~
*.png
*.memmap
*.012

