*.o
*.dat
*.log
*.pyc
*.conf
.Rhistory
__pycache__/
.#*
*.o27*
doc/auto
auto
*.aux
*.synctex.gz
*.rtf
paper.pdf
*.fdb_latexmk
*.fls
*.prv
_region_.tex
unused/*
*.swp
cache/
*.o28*
*.e28*
*~
*.memmap
*.012
logs/
old/
frugalpca_runner.py
*.toc
*.snm
doc/*.out
*.nav
*.blg
*.bbl
doc/*aeme.png
*.png
\#*\#
